<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Todos | My Account</title>
	<link rel='stylesheet' href="{{ url_for('static', filename='account.css')}}">
</head>
<body>
	<!-- Navbar -->
	<div class='navbar'>
		<div class="container flex">
			<h1 class='logo'>Todos</h1>
			<nav>
				<ul>
					<li><a href='/dashboard'>Home</a></li>
					<li><a href="/new-todo">Create</a></li>
					<li><a href="/my-account">Account</a></li>
					<li><a href='/logout'>Logout</a></li>
				</ul>
			</nav>
		</div>
	</div>

	


	<!-- Account card -->
	<div class='account'>
		<div class='container'>
			<h1>{{ current_user.username }}</h1>
			<hr>

			<div class='edit-account card'>
				<form method='POST' action=''>
					{{form.hidden_tag()}}
					<div class='form-control'>
						{{form.username}}
					</div>
					<div class='form-control'>
						{{form.email}}
					</div>
					<div class='form-control'>
						<input type='submit' value='Update Account' class='btn btn-primary'>
					</div>
				</form>
			</div>

		</div>
	</div>
	


</body>
</html>