<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Todos | My Account</title>
	<link rel='stylesheet' href="{{ url_for('static', filename='account.css')}}">
</head>
<body>
	<!-- Navbar -->
	<div class='navbar'>
		<div class="container flex">
			<h1 class='logo'>Todos</h1>
			<nav>
				<ul>
					<li><a href='/dashboard'>Home</a></li>
					<li><a href="/new-todo">Create</a></li>
					<li><a href="/my-account">Account</a></li>
					<li><a href='/logout'>Logout</a></li>
				</ul>
			</nav>
		</div>
	</div>

	

	


</body>
</html>