<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Todos | Create</title>
	<link rel='stylesheet' href="{{ url_for('static', filename='create_todo.css')}}">
	<link rel='shortcut icon' href="{{ url_for('static', filename='todos.png')}}">
</head>
<body>
	<!-- Navbar -->
	<div class='navbar'>
		<div class="container flex">
			<h1 class='logo'>Todos</h1>
			<nav>
				<ul>
					<li><a href='/dashboard'>Home</a></li>
					<li><a href="/new-todo">Create</a></li>
					<li><a href="/my-account">Account</a></li>
					<li><a href='/logout'>Logout</a></li>
				</ul>
			</nav>
		</div>
	</div>



	<div class='todos'>
		<div class='container'>
			<h1>Create Todo</h1>
			<hr>
			<div class='add-todo card'>
				<form method='POST' action=''>
					{{form.hidden_tag()}}
					<div class='form-control'>
						{{form.todo}}
					</div>
					<div class='form-control'>
						{{form.time}}
						<p>Type in the date and time you would like this to be due by in this format: Year-Month-Day Hour:Minute. If you want to schedule a time past morning (PM), put 12 or any number high than twelve up to 24.</p>
					</div>
					<div class='form-control'>
						<input type='submit' value='Create Todo' class='btn btn-primary'>
					</div>
				</form>
				</div>
				<div class='text'>
					<h3>Due Date Field</h3>
					<p>To enter the due date, make sure that you enter in this format Year-Month-Day Hour:Time. Put the hour and time in 24 hour time. If you do not use this format, the todo will not be created.
					</p>
				</div>
			</div>

		</div>
	
	</div>
	


</body>
</html>