<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	<title>Todos | Dashboard</title>
	<link rel='stylesheet' href="{{ url_for('static', filename='dashboard.css')}}">
</head>
<body>
	<!-- Navbar -->
	<div class='navbar'>
		<div class="container flex">
			<h1 class='logo'>Todos</h1>
			<nav>
				<ul>
					<li><a href='/dashboard'>Home</a></li>
					<li><a href="/new-todo">Create</a></li>
					<li><a href="/my-account">Account</a></li>
					<li><a href='/logout'>Logout</a></li>
				</ul>
			</nav>
		</div>
	</div>


	<!-- Todos Section -->
	<div class='todos'>
		<div class='container'>
			<h1>My Todos</h1>
			<hr>
			<div class='all-todos'>
				{% for todo in todos %}
					<div class='todo card'>
						<div class='todo-info'>
							<p>{{todo.todo}}</p>
							<p>Due: {{todo.todo_time.strftime('%I:%M %p')}} UTC</p>
						</div><br>
						<div class='icons'>
							<a class='complete' href="{{ url_for('home')}}"><i class="fas fa-check"></i></a>
							<a class='delete' href="{{ url_for('delete_todo', todo_id=todo.id)}}"><i class="fas fa-trash-alt"></i></a>
						</div>
					</div>
				{% endfor %}
			</div>

		</div>

	</div>




</body>
</html>