<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Todos | Create</title>
	<link rel='stylesheet' href="{{ url_for('static', filename='forgot_password.css')}}">
</head>
<body>
	<!-- Navbar -->
	<div class='navbar'>
		<div class="container flex">
			<h1 class='logo'>Todos</h1>
			<nav>
				<ul>
					<li><a href='/'>Home</a></li>
					<li><a href="/login">Login</a></li>

				</ul>
			</nav>
		</div>
	</div>


	<div class='forgot-password'>
		<div class='container'>
			<h1>Send Reset Email</h1>
			<hr>
			<div class='send-email card'>
				<form method='POST' action=''>
					{{form.hidden_tag()}}
					<div class='form-control'>
						{{form.email}}
					</div>
					<div class='form-control'>
						<input type='submit' value='Send Email' class='btn btn-primary'>
					</div>
				</form>
			</div>

			<div class='text'>
				<h3>Password Reset Request</h3>
				<p>The reason you are probably on this page is because you have forgotten your password.
				   To reset it, type in your email in the input box above and click the blue send email button.
				   You will receive an email in your inbox that will include the link to reset your password.
				</p>
			</div>
		</div>

	</div>


</body>
</html>