<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Todos | Login</title>
	<link rel='stylesheet' href="{{ url_for('static', filename='login.css')}}">
	<link rel='shortcut icon' href="{{ url_for('static', filename='todos.png')}}">
</head>
<body>
	<!-- Navbar -->
	<div class='navbar'>
		<div class="container flex">
			<h1 class='logo'>Todos</h1>
			<nav>
				<ul>
					<li><a href='/'>Home</a></li>
					<li><a href='/login'>Login</a></li>
				</ul>
			</nav>
		</div>
	</div>

	<!-- Showcase -->
	<section class='showcase'>
		<div class='container grid'>
			<div class="showcase-text">
				<h1>Log In</h1>
				<p>Welcome back!</p>
			</div>


		<div class='login-form card'>
			<h2>Login</h2>
			{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				<ul class=flashes>
				{% for category, message in messages %}
				<li class="{{ category }}">{{ message }}</li>
				{% endfor %}
				</ul>
			{% endif %}
			{% endwith %}
			<form method='POST' action=''>
				{{form.hidden_tag()}}
				<div class='form-control'>
					{{form.username}}
				</div>
				<div class='form-control'>
					{{form.email}}
				</div>
				<div class='form-control'>
					{{form.password}}
				</div>
				<div class='form-control'>
					<input type='submit' value='Log in' class='btn btn-primary'>
				</div>
				<div class='form-control'>
					<a href='/forgot-password'>Forgot your password?</a>
				</div>
				<div class='form-control sign-up'>
					<a href='/sign-up'>Don't have an account? Sign Up.</a>
				</div>
			</form>

		</div>

	</section>
</body>
</html>