<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Todos | Reset Password</title>
	<link rel='stylesheet' href="{{ url_for('static', filename='password.css')}}">
</head>
<body>
	<!-- Navbar -->
	<div class='navbar'>
		<div class="container flex">
			<h1 class='logo'>Todos</h1>
			<nav>
				<ul>
					<li><a href='/'>Home</a></li>
					<li><a href="/login">Login</a></li>

				</ul>
			</nav>
		</div>
	</div>


	<div class='password'>
		<div class='container'>
			<h1>Reset Password</h1>
			<hr>
			<div class='reset card'>
				<form method='POST' action=''>
					{{form.hidden_tag()}}
					<div class='form-control'>
						{{form.email}}
					</div>
					<div class='form-control'>
						{{form.password}}
					</div>
					<div class='form-control'>
						<input type='submit' value='Reset Password' class='btn btn-primary'>
					</div>
				</form>
			</div>

			<div class='text'>
				<h3>Resetting Password</h3>
				<p>So, you checked your email and it led you to this link. Type in your email and new password.
				   We will query your account by your email address and then your password will be reset. You'll 
				   be redirected to the login page and be able to login with no problems.
				</p>
			</div>
		</div>

	</div>


</body>
</html>